* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: black;
  color: #c8a764;
}

/* Style particulier pour la page "plaquette.html"*/
/* Style pour le bouton de retour à l'accueil*/
#goBackToHome {
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

/* Style pour les boutons d'affichages des terrains*/
.buttonShowTerrain {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#imgFullTerrain {
  width: 50px;
}
#imgDemiTerrain {
  width: 40px;
}

/* Style pour les boutons d'instructions*/

/* Style pour la zone de dessin*/
.zoneDraw,
#zoneDraw2 {
  text-align: center;
}
#imgDemiTerrain2 {
  display: none;
}
/* Responsive des éléments précédents*/
@media screen and (max-width: 975px) {
  #imgGrandTerrain2 {
    width: 800px;
  }
}
@media screen and (max-width: 815px) {
  #imgGrandTerrain2 {
    width: 700px;
  }
}
@media screen and (max-width: 720px) {
  #imgGrandTerrain2 {
    width: 600px;
  }
}
@media screen and (max-width: 615px) {
  .zoneDraw {
    transform: rotate(90deg);
    margin-top: 150px;
  }
}
@media screen and (max-width: 510px) {
  .zoneDraw {
    transform: rotate(90deg);
    margin-top: 100px;
  }
}
@media screen and (max-width: 430px) {
  .zoneDraw {
    transform: rotate(90deg);
    margin-top: 60px;
  }
}
@media screen and (max-width: 350px) {
  .zoneDraw {
    transform: rotate(90deg);
    margin-top: 60px;
  }
  #imgGrandTerrain2 {
    width: 500px;
  }
}
@media screen and (max-width: 350px) {
  .zoneDraw {
    transform: rotate(90deg);
    margin-top: 60px;
  }
  #imgGrandTerrain2 {
    width: 400px;
  }
}
/* ----- */
@media screen and (max-width: 615px) {
  #zoneDraw2 {
    margin-top: -140px;
  }
}
@media screen and (max-width: 530px) {
  #imgDemiTerrain2 {
    width: 450px;
  }
}
@media screen and (max-width: 510px) {
  #zoneDraw2 {
    margin-top: -80px;
  }
}
@media screen and (max-width: 460px) {
  #imgDemiTerrain2 {
    width: 370px;
  }
}
@media screen and (max-width: 430px) {
  #zoneDraw2 {
    margin-top: -50px;
  }
}
@media screen and (max-width: 370px) {
  #imgDemiTerrain2 {
    width: 300px;
  }
}
