* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: black;
  color: #c8a764;
}

/* Style particulier pour la page "plaquette.html"*/
/* Style pour le bouton de retour à l'accueil*/
#goBackToHome {
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

/* Style pour les boutons d'affichages des terrains*/
.buttonShowTerrain {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#imgFullTerrain {
  width: 50px;
}
#imgDemiTerrain {
  width: 40px;
}

.separationBoutons {
  border-bottom: solid 5px #c8a764;
}
/* Style pour les boutons d'instructions*/
.buttonsInstructionsContainer {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}
.instructionsButton {
  font-size: 1.2em;
  border: #c8a764 solid 2px;
  padding: 5px 20px 5px 20px;
  background-color: black;
  color: black;
  cursor: pointer;
}
.instructionsButton:hover {
  background-color: transparent;
  cursor: pointer;
}
.instructionsButton:active {
  background-color: #c8a764;
  cursor: pointer;
}
/* Responsive des éléments précédents*/

/* Style pour la zone de dessin*/
.zoneDraw1Container {
  margin-top: 50px;
  text-align: center;
}
.zoneDraw2Container {
  margin-top: 50px;
  text-align: center;
}

#zoneDraw1 {
  background-image: url(../img/terrain.jpg);
  background-repeat: no-repeat;
}
#zoneDraw2 {
  background-image: url(../img/demiTerrain.jpg);
  background-repeat: no-repeat;
  display: none;
}
