* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: black;
  color: #c8a764;
}

/* Style général (identique à toutes les pages)*/
h1 {
  font-family: "Madimi One", sans-serif;
  text-align: center;
  font-size: 5em;
}
/* Responsive du titre h1*/
@media screen and (max-width: 560px) {
  h1 {
    font-size: 3.5em;
  }
}
@media screen and (max-width: 370px) {
  h1 {
    font-size: 2.5em;
  }
}
@media screen and (max-width: 250px) {
  h1 {
    font-size: 1.5em;
  }
}

/* Style particulier pour la page "plaquette.html"*/
/* Style pour le bouton de retour à l'accueil*/
#goBackToHome {
  margin-bottom: 20px;
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 1.3em;
}
